*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Space Grotesk", sans-serif;
  color: white;
  font-size: 22px;
  font-weight: bold;
}
body{
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.teclado{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.linha{
  display: flex;
  gap: 10px;
}
.tecla{
  width: 60px;
  height: 60px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.tecla.space{
  width: 400px;
}
.tecla.ativa{
  background: #212121;
  transform: scale(1.0);
  box-shadow: 0 0 10px white;
  transition: all 0.2s ease;
}
